#dvListaContMult{
    border-top: 2px double #5cb3ff;
    border-bottom: 2px double #5cb3ff;
    display: block;
    margin: auto auto;
    margin-top: 5px;
    min-height: 60px;
    width: 99%;
}
#tbListFiles{
    border-collapse: collapse;
    width: 100%;
}
#tbListFiles td{
    border-bottom: 1px dotted gray;
    padding: 3px 5px 3px 5px;
}
.tdBtnOption{
    text-align: right;
}
#dvPrevImg{
    /*border: 1px dotted gray;*/
    display: block;
    margin: auto auto;
    min-height: 80px;
    min-width: 120px;
    text-align: center;
}
#dvPrevImg img{
    border: 1px solid #b3b3b1;
    max-height: 100px;
    max-width: 150px;
    position: relative;
    vertical-align: middle;
}
.spnLoading{
    background-image: url(../../../includes/css/imgs/grid/loader.gif);
    background-position: center center;
    display: block;
    height: 80px;
    margin: auto auto;
    width: 120px;
}
/*
#dvShowImg{
    border: 1px solid #a09f9d;
    margin: auto auto; 
    max-width: 950px;
}
*/
.dvPreviewFile{
    text-align: center;
}
.dvPreviewFile a{
    border: 1px solid #f0f1f0;
    display: block;
}
.dvPreviewFile a:hover{
    border: 1px outset #5cb3ff;
    box-shadow: 1px 1px 4px 1px #79baec;
}
.dvPreviewFile img{
    border: none;
    max-width: 100px;
    position: relative;
    vertical-align: middle;
}

.btnDeleteFile{
    background: #c11b17;
    background-image: -webkit-gradient(linear, left bottom, left bottom, from(#980517), to(#c11b17));
    background-image: -webkit-linear-gradient(bottom, #980517, #c11b17);
    background-image: -moz-linear-gradient(bottom, #980517, #c11b17);
    background-image: -ms-linear-gradient(bottom, #980517, #c11b17);
    background-image: -o-linear-gradient(bottom, #980517, #c11b17);
    background-image: linear-gradient(to bottom, #980517, #c11b17);
    border: 1px solid #800517;
    border-radius: 6px;
    color: #dddddc;
    display: inline-block;
    font-size: 10pt;
    font-weight: normal;
    max-width: 85px;
    min-width: 75px;
    padding: 6px 5px 6px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.btnDeleteFile:hover{
    box-shadow: 1px 1px 4px 1px #79baec;
    color: #ffffff;
    text-decoration: none;
}

.spnLoading{
    background-image: url(../../../includes/css/imgs/grid/loader.gif);
    background-position: center center;
    display: block;
    height: 30px;
    margin: auto auto;
    width: 30px;
}
#dvShowFile{
    border: 1px solid #a09f9d;
    margin: auto auto; 
    max-width: 950px;
}